<!-- <div>
    <div class="submit-form">
            
            <h1> registrar NUsers</h1>
            
            <div class="form-group" id="f1">
                <label for="nombre">Nombre</label>
                <input
                    type="text"
                    class="form-control"
                    id="nombre"
                    required
                    [(ngModel)]="NUser.fullName"
                    name="nombre" aria-required
                />
            </div>
    


            <br>

            <div class="but" *ngIf="NUser.nombre!='' && NUser.description!='' && NUser.ubicacion!=''">
                <button (click)="saveUser()" class="btn btn-success">Enviar</button> 
            </div>

        </div>

  </div> -->
