*{
    display: block;
    text-align: center;
}
img{
    width: 100vw;
}
button{
    margin: auto;
    border: 1px solid rgb(7, 112, 119);
    border-radius: 3px;
    font-size: x-large;
}
button:hover{
    background-color: rgb(7, 112, 119);
}
button:focus{
    background-color: rgb(7, 112, 119);
    border-color:  rgb(7, 112, 119);
}
@media screen and (orientation: landscape){
    *{
        text-align: start;
        margin: 5px;
    }
    main{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        background-color: rgba(0, 0, 0, 0.8);
    }
    img{
        grid-column: 1;
        max-width: 100%;
        /* max-height: 70vh; */
    }
    div{
        grid-column: 2/4;
        display: flex;
        flex-direction: column;
    }
    button{
        order: 7;
    }
}