<!-- <div  *ngIf="!user">

    <form #loginF="ngForm" (ngSubmit)="loginM(loginF)">
        <h1>Log In</h1>
        <input type="email" name="E"  [(ngModel)]="login.email" id="ki" placeholder="Email">
        <input type="password" name="P"  [(ngModel)]="login.password" id="li" placeholder="password">

        <a href=""></a>
        <button type="submit" [disabled]="!loginF.form.valid">
            comprobar
        </button>
    </form>

</div> -->


<div *ngIf="!logUp&&!user">

    <!-- <form #loginCreate="ngForm" (ngSubmit)="saveUser(loginCreate)"> -->
        <h1>logUp</h1>
        <input type="email" name="E"  [(ngModel)]="UserC.email"placeholder="Email">
        <input type="fullName" name="FN"  [(ngModel)]="UserC.fullName"placeholder="Nombre completo">
        <input type="password" name="P"  [(ngModel)]="UserC.password"placeholder="password">
        <input type="number" name="PN" [(ngModel)]="UserC.phoneNumber">
        <button>ya tengo un usuario</button>

        <button (click)="saveUser()">
            comprobar
        </button>
    <!-- </form> -->

</div>



<div *ngIf="user" class="iniciado" style="display:flex;flex-direction: column;align-items: center">
    <h1 style="font-size: 3rem;" *ngIf="user">bienvenido {{user.fullName}}</h1>

    <button (click)="clearStorage()" style="height:3rem;border-radius: 15px;">cerrar sesion</button>
</div>

