form{
    font-size: 1.2rem;
    color: aliceblue;
    margin: auto;
    height: 70vh;
}

form > input{
    margin-bottom: 3rem;
}
h1{
    grid-row: 1;
    grid-column: 1/13;  
    text-align: center;  
}

#saveUser{
    grid-row: 12;
}
button{
    display: block;
    margin: auto;
    margin-top: 2rem;
    border: 2px solid rgb(125, 133, 140);
    border-radius: 4px;
    height: 3rem;
    width: 20ch;
}
a{
    margin: auto;
    
}
input{
    font-size: 1.8rem;
    border: 0;
    border-radius: 15px 0;
    display: list-item;
    margin: 10px auto;
}

div{
    font-size: 1.2rem;
    color: aliceblue;
    max-height: 70vh;
    width: 100vw;
    display: inline-block;
    margin: auto;
    text-align: center;
}

.form{
    grid-column: 5/9;
}



