html,body {
    font-family: 'Comfortaa', cursive;
    color: aliceblue;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(to bottom, #ffffff, #a7a6ff, #004454, #000000, #000000);
    overflow-x: hidden;  

  }

  button{
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
