*{
    z-index: 2;
}
.image{
    display: flex;
    justify-content: start;
    width: 100%;
    border-radius: 10px 10px 0px;
}
dl{
    display: flex;
    justify-content: center;
    justify-items: center;
    /* flex-basis:  100vmin; */
    flex-wrap: wrap;
    flex-grow: 2;
}
dt{
   border: 2px solid rgba(255, 255, 255, 0.446); 
   border-radius: 10px;
   margin: 5px;
   max-width: 90vw;
   background-color: rgba(0, 0, 0, 0.898);
}
#ubicacion{
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0.742);
    justify-content: flex-start;
    border: 2px solid rgb(225, 225, 225);
    border-radius: 10px 10px 0px;
}
img{    
    border-radius: 10px 10px 0px 0;
    width: 100%;
    border-bottom: 2px solid white;
}