<div id="buscar">
    <input type="search" name="SC" id="SH"  placeholder="¿en que ciudad estas buscando el evento?"
    [(ngModel)]="filtre">
    <button (click)="toAskF()">buscar</button>
</div>
<div *ngIf="!toAsk">
    <dl>
        <dt *ngFor="let e of listEvents" class="card">
            
            <div class="image">
                <img [(src)]="'http://localhost:1001/'+e.poster" [(alt)]="e.poster">
            </div>
            <h1>  {{ e.nombre }}</h1>
            <h2>    {{e.fecha}} {{e.hora}}</h2>
            <button class="more">detalles</button>

            <button *ngIf="!e.creador" class="agg" (click)="asistir(e)">asistir</button>
            <style> 
            e{
                content: 'ok';
            }
                </style>
        </dt>
    </dl>
</div>
<div *ngIf="toAsk">
    <dl>
        <dt *ngFor="let e of listEventsFiltre" class="card">
            
            <div class="image">
                <img [(src)]="'http://localhost:1001/'+e.poster" [(alt)]="e.poster">
            </div>

            <h1>  {{ e.nombre }}</h1>
            <p> hola </p>
            <h2>    {{e.fecha}} {{e.hora}}</h2>

            
            
            <button class="more">detalles</button>

            <button *ngIf="!e.creador" class="agg" (click)="asistir(e)">asistir</button>

        </dt>
    </dl>
</div>
