<div id="buscar">
    <input type="search" name="SC" id="SH" placeholder="¿en que ciudad estas buscando el evento?">
    <button (click)="toAskF()">buscar</button>
</div>
<div *ngIf="!toAsk">
    <dl>
        <dt *ngFor="let e of listEvents">
            <div class="image">
                <h1 id="ubicacion"> {{e.ubicacion}} </h1>
                <img src="" alt="">
            </div>
            <h1>  {{ e.nombre }}</h1>
            <h2>    {{e.fecha}} {{e.hora}}</h2>
            <p> {{e.description }}
            </p>
            
            <button class="del">eliminar</button>

            <button  class="agg">asistir</button>
        </dt>
    </dl>
</div>