
<div>

    <form action="">
        <h1>Creacion de eventos</h1>
        <div class="NE">
            <label for="NE">Nombre Evento</label>
            <input type="text" name="NE">
        </div>

        <div class="DE">
            <label for="DE" class="DE">Descripcion Evento</label>
            <input type="text" name="NE" class="DE" placeholder="descripcion">
        </div>
        <div class="FE">
            <label for="FE" class="FE">fecha Evento</label>
            <input type="date" name="FE">
        </div>

        <!-- <button type="submit" [disabled]="!form.form.valid">
            crear
        </button> -->
    </form>

</div>