<div>
    <div class="submit-form">
        <div class="xd" *ngIf="!submitted">
            
            <h1> registrar eventos</h1>

            <div class="form-group" id="f1">
                <label for="img">Imagen del poster</label>
                
    <input (change)="onFileSelected($event)" type="file">

            </div>

            <div class="form-group" id="f1">
                <label for="nombre">Nombre</label>
                <input
                    type="text"
                    class="form-control"
                    id="nombre"
                    required
                    [(ngModel)]="evento.nombre"
                    name="nombre" aria-required
                />
            </div>  
            
            <div class="form-group" id="f1">
                <label for="numeroAsistentes">numeroAsistentes</label>
                <input
                    type="number"
                    class="form-control"
                    id="numeroAsistentes"
                    required
                    [(ngModel)]="evento.numeroAsistentes"
                    name="numeroAsistentes" aria-required
                />
            </div>  
            

    
            <div class="form-group" id="f2">
                <label for="descripcion">Descripcion</label>
                <input
                class="form-control"
                id="descripcion"
                required
                [(ngModel)]="evento.description"
                name="descripcion"
                />
                
            </div>  

            <div class="form-group">
                <label for="ubicacion">ubicacion</label>
                <input
                class="form-control"
                id="ubicacion"
                [(ngModel)]="evento.ubicacion"
                name="ubicacion"
                />
                
            </div>

            <div class="form-group">
                <label for="precio">precio</label>
                <input type="number" placeholder="precio es en pesos colombianos"
                [(ngModel)]="evento.precio"
                name="precio">
                
            </div>

            <div class="form-group">
                <label for="fecha">fecha</label>
                <div id="time">
                    <input type="Date" placeholder="fecha"
                    [(ngModel)]="evento.fecha"
                    name="fecha">
                    <input type="time" placeholder="fecha"
                    [(ngModel)]="evento.hora"
                    name="nombre">
                </div>
            </div>

            <br>

            <div class="but" *ngIf="evento.nombre!='' && evento.description!='' && evento.ubicacion!='' && evento.poster!='' ">
                <button (click)="saveEvento()" class="btn btn-success">Enviar</button> 
            </div>

        </div>
  
      <div *ngIf="submitted">
        <h4>El evento fue creado!!</h4>
        <button (click)="newEvento()">Agregar</button>
      </div>
    </div>
  </div>